<nav class="navbar navbar-default fc-nav-shadows">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">Angular 4 Demo</a>
  </div>
  <div class="navbar-collapse collapse">
    
    <ul class="nav navbar-nav navbar-right">
      <li><a routerLink="/login" routerLinkActive="nav-active">Login</a></li>
      <li><a routerLink="/signup" routerLinkActive="nav-active">Signup</a></li>
      <li><a routerLink="/list" routerLinkActive="nav-active">Employee List</a></li>
    </ul>
  </div>


</nav>
